.header {
    margin-top: 26px;
    background-color: rgba($color: #fff, $alpha: .1);
    height: 62px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    position: relative;
    z-index: 10;

    @media(max-width: 750px) {
        border-radius: 0px;
        margin-top: 0px;
    }

    &_logo {
        display: flex;
        align-items: center;
        transition: 600ms transform;
    }

    &_logo:hover {
        transform: scale(1.5);
    }

    &_links {
        display: flex;
        column-gap: 24px;

        @media(max-width: 950px) {
            column-gap: 12px;
        }

        @media(max-width: 750px) {
            display: none;
        }

        &_element {
            font-size: 16px;
            font-weight: 500;
            transition: 300ms transform, 300ms border;
            border-bottom: 1px solid #fff0;

            @media(max-width: 950px) {
                font-size: 12px;
            }
        }

        &_element:hover {
            border-bottom: 1px solid #ffff;
            cursor: pointer;
            transform: rotate(2deg) scale(1.1);

        }
    }

    &_btn {
        color: #202020;
        font-weight: 700;
        height: 33px;
        padding: 0px 15px;
        background-color: #4AEF82;
        border-radius: 4px;
        display: flex;
        align-items: center;
        font-size: 12px;
        column-gap: 5px;
        transition: 300ms color, 300ms background-color;

        img {
            transition: 300ms filter, 300ms transform;
        }
    }

    &_btn:hover {
        cursor: pointer;
        color: white;
        background-color: #202020;

        img {
            filter: invert(1);
            transform: rotate(90deg);
        }
    }

}