.partners {
    margin-top: 50px;

    &_light1 {
        min-width: 600px;
        min-height: 600px;
        background-color: #64225C88;
        filter: blur(500px);
        border-radius: 100%;

        &_wrapper {
            display: flex;
            justify-content: left;
            position: relative;
            z-index: -1;

            .free_img {
                align-items: baseline;
                justify-content: left;
            }
        }
    }

    &_light2 {
        min-width: 600px;
        min-height: 600px;
        background-color: #5BDF6044;
        filter: blur(500px);
        border-radius: 100%;

        &_wrapper {
            display: flex;
            justify-content: right;
            position: relative;
            z-index: -1;

            .free_img {
                align-items: baseline;
                justify-content: right;
            }
        }
    }

    &_header {
        font-size: 100px;
        font-weight: 700;
        text-align: center;

        @media(max-width: 1100px) {
            font-size: 72px;
        }

        @media(max-width: 650px) {
            font-size: 40px;
        }

        span {
            color: #4AEF82;
            font-weight: 700;
        }
    }

    &_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 12px;
        margin-top: 44px;

        @media(max-width: 1150px) {
            row-gap: 8px;
            column-gap: 8px;
        }
    }

    &_element {
        height: 160px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 15px;
        background: linear-gradient(to bottom, rgba(#fff, 0.02), rgba(#999, 0.14));

        @media(max-width: 550px) {
            width: 100px;
            height: 100px;
        }

        @media(max-width: 350px) {
            width: 90px;
            height: 90px;
        }

        img {
            max-width: 70%;
        }
    }

    &_element:hover {
        background: linear-gradient(to bottom, rgba(#fff, 0.1), rgba(#fff, 0.1));
    }

}