.solutions_element_decor {
    width: 100%;
    display: flex;
    justify-content: right;
    position: relative;
    z-index: -1;

    @keyframes solutionDecorDancing {
        from {
            transform: translate(0px, -6px);
        }

        to {
            transform: translate(0px, 6px);
        }
    }

    &_first {
        &_camera {
            top: 40px;
            right: 40px;
            animation: solutionDecorDancing 3s infinite alternate ease-in-out;
        }

        &_mic {
            top: 180px;
            right: 130px;
            animation: solutionDecorDancing 4s 1s infinite alternate ease-in-out;
        }

        &_phone {
            top: 180px;
            right: 20px;
            animation: solutionDecorDancing 3.5s 0.5s infinite alternate ease-in-out;
        }

        @media(max-width: 1100px) {

            &_mic {
                top: 10px;
                right: 30px;

                img {
                    width: 80px;
                }
            }

            &_camera {
                top: 90px;
                right: 10px;

                img {
                    width: 70px;
                }
            }


            &_phone {
                top: 150px;
                right: 70px;

                img {
                    width: 120px;
                }
            }
        }
    }

    &_second {
        &_crichalka {
            top: 50px;
            right: 50px;
            animation: solutionDecorDancing 3.5s 0.5s infinite alternate ease-in-out;
        }

        &_pc {
            top: 200px;
            right: 100px;
            animation: solutionDecorDancing 3s infinite alternate ease-in-out;
        }

        @media(max-width: 1100px) {
            &_crichalka {
                top: 30px;
                right: 30px;

                img {
                    width: 80px;
                }
            }

            &_pc {
                top: 120px;
                right: 60px;

                img {
                    width: 120px;
                }
            }
        }
    }

    &_third {
        &_clip {
            top: 20px;
            right: 100px;

            animation: solutionDecorDancing 3s infinite alternate ease-in-out;
        }

        &_vcamera {
            top: 150px;
            right: 50px;
            animation: solutionDecorDancing 4s 1s infinite alternate ease-in-out;
        }

        &_nota {
            top: 200px;
            right: 180px;
            animation: solutionDecorDancing 3.5s .5s infinite alternate ease-in-out;
        }

        @media(max-width: 1100px) {
            &_clip {
                top: 20px;
                right: 30px;

                img {
                    width: 70px;
                }
            }

            &_vcamera {
                top: 90px;
                right: 20px;

                img {
                    width: 100px;
                }
            }

            &_nota {
                top: 120px;
                right: 100px;

                img {
                    width: 90px;
                }
            }
        }
    }

    &_third {
        &_stars {
            top: 10px;
            right: 60px;
            animation: solutionDecorDancing 3s infinite alternate ease-in-out;
        }

        &_stick {
            top: 220px;
            right: 40px;
            animation: solutionDecorDancing 3.5s .5s infinite alternate ease-in-out;
        }

        @media(max-width: 1100px) {
            &_stars {
                top: 10px;
                right: 30px;

                img {
                    width: 100px;
                }
            }

            &_stick {
                top: 120px;
                right: 40px;

                img {
                    width: 120px;
                }
            }
        }
    }
}